@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./theme.css";
@plugin "@tailwindcss/typography";

:root {
  background-color: transparent;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Geist Variable", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-foreground);
  background-color: transparent;
  overflow: hidden;
  border-radius: var(--body-radius);
}

body:has([data-with-decoration]) {
  border-radius: 0;
}

#root {
  min-height: 100dvh;
  background-color: var(--body-bg);
  transition: background-color 0.2s;
  isolation: isolate;
}

html {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}
