@import url("https://fonts.cdnfonts.com/css/satoshi");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-success: hsl(112 89% 54%);
  --color-info: hsl(204 70% 53%);
  --color-warning: hsl(48 89% 50%);
  --color-alert: hsl(352, 87%, 51%);
  --color-primary: hsl(283, 98%, 51%);
  --color-primary-foreground: hsl(210 40% 98%);
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);
  --color-input: var(--color-zinc-200);
  --color-muted: hsl(0, 0%, 100%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --body-bg: #fcfcfc;
  --sidebar-w: 80px;

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 47.4% 11.2%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 47.4% 11.2%);

  --border: hsl(214.3 31.8% 91.4%);

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(210 40% 98%);

  --ring: hsl(215 20.2% 65.1%);
  --radius: 0.5rem;
}

.dark {
  --color-background: var(--color-zinc-800);
  --color-alert: hsl(350 87% 59%);
  --body-bg: hsl(233.33deg 11.69% 15.1%);
  --color-foreground: hsl(0 0% 100%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-foreground);
}

#root {
  min-height: 100dvh;
}

html {
  overscroll-behavior: none;
}
